csv = []

csv << [
  'Column 1',
  'Column 2'
].join(';')

[1, 2, 3].each do |element|
  row = [
    element
  ]

  row << %w(a b c).join(' / ')

  csv << row.join(';')
end; nil

File.open('report.csv', 'w') { |file| file.write(csv.join("\n")) }
