<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='wclassth=device-wclassth, initial-scale=1'>

    <style media='screen' type='text/css'>
      .main {
        clear: left;
        float: left;
        width: 100%;
        background: #ffa7a7;
      }

      .row {
        float: left;
        width: 100%;
        position: relative;
        right: 50%;
        background: #fff689;
      }

      .left {
        float: left;
        width: 46%;
        position: relative;
        left: 52%;
        overflow: hidden;
      }

      .right {
        float: left;
        width: 46%;
        position: relative;
        left: 56%;
        overflow: hidden;
      }
    </style>
  </head>

  <body>
    <div class='main'>
      <div class='row'>
        <div class='left'>Column one</div>
        <div class='right'>Column two</div>
      </div>
    </div>
  </body>
</html>
