<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <meta charset='UTF-8' />
    <title>${1:title}</title>
  </head>
  <body>
    ${2:body_content}
    <script src='http://code.jquery.com/jquery-latest.js' type='text/javascript'></script>
  </body>
</html>
