<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <meta name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>

    <title>${1:title}</title>

    <link rel='stylesheet' href='stylesheets/application.css' type='text/css' media='screen' charset='utf-8'>
  </head>

  <body>
    ${2:<h1>Hello World!</h1>}

    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js'></script>
    <script src='javascripts/application.js'></script>
  </body>
</html>
