<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <meta name='viewport'
      content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no viewport-fit=cover'>

    <title>${1:title}</title>

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

    <link rel='stylesheet' href='stylesheets/application.css' type='text/css' media='screen' charset='utf-8'>

    <style type='text/css'>
      body {
        font-family: 'Lato', sans-serif;
        line-height: 1.5;
        width: 800px;
        margin: auto;
      }
    </style>
  </head>

  <body>
    ${2:<h1>Hello World!</h1>}

    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js'></script>
    <script src='javascripts/application.js'></script>
  </body>
</html>
