<table class='table table-striped'>
  <thead>
    <tr>
      <th>${1}</th>
      <th>${2}</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>FieldContent</td>
      <td>FieldContent</td>
    </tr>
  </tbody>
</table>
