<!-- Twitter Bootstrap test -->
<div class='row'>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>
  <div class='col-xs-1'>|||</div>

  <br><br>
</div>

<div class='row'>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>

  <br><br>
</div>

<div class='row'>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>
  <div class='col-md-1'>|||</div>

  <br><br>
</div>

<div class='row'>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>
  <div class='col-lg-1'>|||</div>

  <br><br>
</div>
<!-- Twitter Bootstrap test -->
