<div class='row'>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>
  <div class='col-sm-1'>|||</div>

  <br><br>
</div>
