  path = bundle/vim-rails
[submodule "bundle/snipmate"]
  path = bundle/snipmate
  url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-rails"]
  url = https://github.com/tpope/vim-rails.git
[submodule "bundle/tcomment"]
  path = bundle/tcomment
  url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/extradite"]
  path = bundle/extradite
  url = https://github.com/int3/vim-extradite.git
[submodule "bundle/fugitive"]
  path = bundle/fugitive
  url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gist-vim"]
  path = bundle/gist-vim
  url = https://github.com/mattn/gist-vim.git
[submodule "bundle/nerdtree"]
  path = bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-ruby-runner"]
  path = bundle/vim-ruby-runner
  url = https://github.com/henrik/vim-ruby-runner.git
[submodule "bundle/tabular"]
  path = bundle/tabular
  url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-endwise"]
  path = bundle/vim-endwise
  url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/ctrlp"]
  path = bundle/ctrlp
  url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/syntastic"]
  path = bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-matchit"]
  path = bundle/vim-matchit
  url = https://github.com/tsaleh/vim-matchit
[submodule "bundle/ack-vim"]
  path = bundle/ack-vim
  url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-easymotion"]
  path = bundle/vim-easymotion
  url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/html5"]
  path = bundle/html5
  url = git://github.com/othree/html5.vim.git
[submodule "bundle/rename"]
  path = bundle/rename
  url = https://github.com/danro/rename.vim.git
[submodule "bundle/vim-coffee-script"]
  path = bundle/vim-coffee-script
  url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-abolish"]
  path = bundle/vim-abolish
  url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/handlebars"]
  path = bundle/handlebars
  url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/portkey"]
  path = bundle/portkey
  url = https://github.com/dsawardekar/portkey
[submodule "bundle/ember.vim"]
  path = bundle/ember.vim
  url = https://github.com/dsawardekar/ember.vim
