.row
  - 12.times do
    .col-xs-1
      X
  %br
  %br

.row
  - 12.times do
    .col-sm-1
      S
  %br
  %br

.row
  - 12.times do
    .col-md-1
      M
  %br
  %br

.row
  - 12.times do
    .col-lg-1
      L
  %br
  %br
